footer.footer
  .container 
    .footer__inner  
      .footer__col
        p © Alay Express 2024. Все права защищены.  
      //- .footer__col  
      //-   .footer__nav
      //-     ul 
      //-       li 
      //-          a(href="#" target="_blank") Запрещенные товары
      //-       li 
      //-          a(href="#" target="_blank") Условия обслуживания
      //-       li 
      //-          a(href="#" target="_blank") Соглашение о персональных данных


























